.main {
  min-height: 85vh;
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: center;

  .main__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .filters {
      width: 25%;
      // background: rgba(24,26,28,.5);
      // border-right: 1px solid $grey;
      // border-radius: 0.7rem;
      padding: .5%;
      height: -moz-fit-content;
      height: fit-content;

      .reset-total {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 2%;
        color: $blue;

        .btn-reset {
          background-color: white;
          color: $blue;
          border: 1px solid $blue;
          border-radius: 0.3rem;
          padding-left: 2%;
          padding-right: 2%;
          font-size: 120%;
          cursor: pointer;
        }
        
        .btn-copy {
          background-color: white;
          color: $blue;
          border: 1px solid $blue;
          border-radius: 0.3rem;
          padding-left: 2%;
          padding-right: 2%;
          font-size: 120%;
          cursor: pointer;
        }
      }

      .category, .brand, .price, .stock {
        overflow: hidden;
        margin-bottom: 5%;
        display: block;

        .category__header {
          text-align: center;
        }
      }
      
      .filter-list {
        height: 10rem;
        overflow: hidden;
        overflow-y: auto;
        padding: 2%;
      }

      .out-data {
        margin-top: 5%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-weight: bold;
      }

      .multi-range {
        position: relative;
        height: 2rem;

        input[type="range"] {
          position: absolute;
          -webkit-appearance: none;
          appearance: none;
          width: 96%;
          margin: 2%;
          overflow: hidden;
          outline: none;
          background: linear-gradient($grey,$grey) no-repeat center;
          background-size: 100% 2px;
          pointer-events: none;
        }

        input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 15px;
          width: 15px;
          border-radius: 50%;
          background: $blue;
          cursor: ew-resize;
          box-shadow: 0 0 2px 0 #555;
          transition: background .3s ease-in-out;
        }
      }
      .multi-range input:nth-child(2) {
        background: none;
      }
    }

    .products {
      width: 74%;
      border-left: 1px solid $grey;
      border-right: 1px solid $grey;
      overflow: hidden;

      .sort-products {
        padding: .5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      select {
        outline: 0;
        border: 0;
        flex: 1;
        padding: 0 1em;
        cursor: pointer;
        border-radius: 1rem;
        color: black;
        border: 1px solid $grey;
        text-align: center;
      }

      .search-bar input {
        width: 140%;
        border: 1px solid $grey;
        color: black;
        border-radius: 2rem;
        padding: 0.2rem;
        outline: none;
        font-size: 80%;
        text-align: center;
      }

      .view-mode {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .small-v, .big-v {
          border: 1px solid $grey;
          height: 2rem;
          width: 2rem;
          display: flex;
          flex-wrap: wrap;
          border-radius: 0.3rem;
          justify-content: center;
          align-items: center;
          padding: 2%;
          cursor: pointer;
          margin-left: 0.5rem;
          -webkit-user-select: none;
          user-select: none;
        }
        
        .active-mode {
          box-shadow: 0 0 3px 1px $blue;
          border: 1px solid $grey;
        }

        .small-v div {
          white-space: nowrap;
          width: 19%;
          height: 19%;
          margin: 2%;
          border-radius: 100%;
          overflow: hidden;
          color: white;
          background: $grey;
          -webkit-user-select: none;
          user-select: none;
        }

        .big-v div {
          white-space: nowrap;
          width: 35%;
          height: 35%;
          margin: 2%;
          color: white;
          border-radius: 100%;
          overflow: hidden;
          background: $grey;
          -webkit-user-select: none;
          user-select: none;
        }
      }

      .products-items {
        padding: .5%;
        display: flex;
        flex-wrap: wrap;

        .small-item {
          position: relative;
          width: 14.6%;
          padding-top: 12%;
          margin: 1%;
          border: 1px solid $grey;
          border-radius: 0.5rem;
          overflow: hidden;
          display: flex;
          flex-direction: column;
        }

        .big-item {
          width: 23%;
          padding-top: 20%;
          position: relative;
          // width: 14.6%;
          // padding-top: 12%;
          margin: 1%;
          border: 1px solid $grey;
          border-radius: 0.5rem;
          overflow: hidden;
          display: flex;
          flex-direction: column;
        }

        .item-wrapper {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          background-size: cover;
        }

        .item-text {
          width: 100%;
          height: 83%;
          cursor: pointer;
        }

        .item-title {
          background: rgba(24,26,28,.8);
          padding: 1%;
          font-size: 90%;
          text-align: center;
          color: white;
          border-bottom: 1px solid $grey;
          white-space: nowrap;
        }

        .item-info-item {
          width: 55%;
          background-color: white;
          opacity: 0.9;
          border-radius: 0 0 0.4rem;
          // border-bottom: 1px solid $grey;
          // border-right: 1px solid $grey;
          padding: 1%;
        }

        .item-info-item p  {
          font-size: .6rem;
        }

        .item-info-item span  {
          font-size: .6rem;
        }

        .item-buttons {
          width: 100%;
          height: 15%;
          display: flex;
          justify-content: space-evenly;
        }

        .item-buttons button {
          background-color: $grey;
          color: black;
          border: 1px solid black;
          border-radius: 0.3rem;
          padding-left: 2%;
          padding-right: 2%;
          font-size: 80%;
          cursor: pointer;
        }

        .in-cart {
          box-shadow: 0 0 5px 2px $blue;
          border: 1px solid black;
      }
      }
    }
  }
}

.checkbox-line {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.checkbox-line input {
  cursor: grab;
}

.checkbox-line label {
  overflow: hidden;
  padding: 0.3rem;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.checkbox-line span {
  margin-left: auto;
  padding-left: 0.3rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}